.greeting-text{
    text-align: center;
    padding: 17%;
}

.statement{
    font-family: 'Tomorrow', sans-serif;
    font-size: large;
}

#greeting{
    background-image: url('../../img/background2.jpg'); 
    background-size: cover;
    background-repeat: no-repeat; 
    margin: 0px auto;
    object-fit: fill;

}

#backgroundpic{
    height: 100vh;
    width: 100wh;
    margin-left: 55px;

}