.greeting-text{
    text-align: center;
    padding: 10%;
}

.statement{
    font-family: 'Tomorrow', sans-serif;
    font-size: large;
}

#greeting{
    background-image: url('../../img/background3.webp'); 
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100vw;
    padding: 10%;
    box-shadow: 1px 0px 5px black;    
}

.greeting-icon{
    margin: 20px;
    font-size: 25px;
}

.greeting-link:hover{
    color: #d40000;
}

#backgroundpic{
    height: 100vh;
    width: 100wh;
    margin-left: 55px;

}