:root{
    font: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --text-primary: black;
    --text-secondary: grey;

}

/* body::-webkit-scrollbar{
    
} */

.navbar{
    top: 0;
    width: 3rem;
    height: 100vh;
    position: fixed;
    background-color: #303E47;
    transition: width 150ms ease;
    border-right: 2px solid #D3BB4C;
    box-shadow: 1px 0px 5px black;
    padding: 0;
    z-index: 1;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav-item{
    width: 100%;
    display: flex;
    align-items: center;
    height: 6rem;
    color: #D3BB4C;
    text-decoration: none;
    width: 100%;
    padding: 0;
    
}


.nav-item:hover{
    background-color: rgba(37, 47, 54, 0.25);
    border-left: 4px solid #d40000;
    color: #d40000;
}

/* .nav-item:last-child{
    margin-top: auto;
    font-size: 25px;
    margin-bottom:5px ;
} */

.fas{
    margin-left: 1rem;
}

a.nav-link{
    display: flex;
    align-items: center;
    height: 6rem;
    color: #D3BB4C;
    text-decoration: none;
    width: 100%;
    padding: 0;
    margin: 5;
}

a:hover{
    color:#303E47 ;
    text-decoration: none;
}

a.nav-link.active{
    color: #d40000;
}
    
a.nav-link:hover{
    color: #d40000;
}

.link-text{
    display: none;
    font-family: 'Tomorrow', sans-serif;
    margin: 0 1.5rem;
}

.nav-link svg{
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover{
    width: 12rem;
}

.navbar:hover .link-text {
    display: block;
}

#toggle{
    color: #D3BB4C;
    display: block;
}

#toggle2{
    color: #D3BB4C;
    display: none;
}

.navbar:hover #toggle{
    color: #d40000;
    display: none
}

.navbar:hover #toggle2{
    color: #d40000;
    display: block;
    transition: width 250ms ease;
    padding-left: 4.5rem;
}

.logo{
    height: auto;
    width: 50px;
    margin-top: -16px;
    margin-left: 0;

}

#logo{
    margin-left: 0;
}


/* Large Screens and desktops remove toggle button, any resolution lower the toggle appears for touch screen users */
@media only screen and (min-width: 1025px){

    #toggle{
        display: none;
    }

    #toggle2{
        display: none;
    }

    .navbar:hover #toggle2{
        display: none;
    }

    /* #last:hover{
        display: none;
        background-color: rgba(37, 47, 54, 0.25);
        border-left: 4px solid #d40000;
        color: #d40000;
    } */

    /* .nav-item:last-child{
        display: none;
    } */
}