#sidenav{
    background-color: #303E47;
    height: 100vh;
    border-right: 10px solid #CFB53B;
    padding: 5px;
    /* position: fixed; */
}

a{
    font-family: 'Tomorrow', sans-serif;
    color:#303E47 ;

}
a:hover{
    color:#303E47 ;
    text-decoration: none;
}

a.nav-link{
    color: #CFB53B;
    padding-top: 15px;
    padding-bottom: 15px;
}

a.nav-link.active{
color: #d40000;
}

a.nav-link:hover{
    color: #d40000;
}

footer{
    font-family: 'Tomorrow', sans-serif;
    font-size: xx-small;
    bottom: 0px;
    position: absolute;

}